@font-face {
    font-family: 'vagRounded';
    src: url('/fonts/VAG\ Rounded\ Std\ Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vagRounded';
    src: url('/fonts/VAG\ Rounded\ Std\ Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

* {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: vagRounded;
    color: inherit;
}
header {
    padding: 0.5rem 0;
    border-bottom: #E20077 solid 1px;
    border-radius: 10rem;
    color: white;
    background-color: #E20077;
}
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(/image/ReciclajepcCashConverters.jpg);
    background-size: cover;

    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;

}

.form {
    margin-top: 3rem;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 1rem;
    gap: 1;
    background-color: transparent;
    border: #E20077 2px solid;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}
.form-group__select {
    border: none;
    background-color: transparent;
}
.form-group__select:hover {
    cursor: pointer;
}
option{
    color: black;
}

.form-button {
    margin-top: 1rem;
}
.button{
    width: 300px;
    border-radius: 1rem;
    background-color: #E20077;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;

}
.button:hover {
    background-color: #ba0163;
    cursor: pointer;
}

.pc-precios {
    display: flex;
    gap: 1rem;
    margin: 2rem 4rem;
}
.pc-precio {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 33%;
    border-radius: 1rem;
    border: #E20077 solid 2px;
}
.pc-precio__title {
    color: #E20077;
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.pc-precio__text {
    margin-bottom: 0;
    font-weight: 600;
    margin-bottom: 1rem;
}

.infografica {
    color: darkgray;
    font-size: 0.7rem;
}

.consejos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
    width: 100%;
}

.consejos__article {
    border: #E20077 1px solid;
    border-radius: 1rem;
    padding: 1rem 2rem;
    height: 12rem;
    width: 45%;
}

.consejos__article p {
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.consejos__title {
    color: #E20077;
    font-weight: 600;
    margin: 0.5rem;
}
.consejos__subtitle {
    color: #E20077;
    font-weight: 600;
}

.footer {
    width: 100vw;
    display: flex;
    /* position: fixed; */
    bottom: 0px;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
    color: white;
    background-color: #E20077;
    margin-top: auto;
   
}
@media (max-width: 768px) {
    .consejos {
        flex-direction: column;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .consejos__article {
        width: 100%;
    }
}



